h3{
   color: #CC9F34;
   font-size: 200px;
  
   text-align: center;


}
header{
   margin-top: 0px   ;
}
.dws-menu{margin: 0px;
   padding: 4%;
font-weight:bold ;
font-family:"Calibri" ;
color:#CC9F34;

}
.dws-menu>ul{
   display:flex;

}
.dws-menu.li+li{
   padding:10%
}
.dws-menu>ul>li>a{

   display:block;
   padding: 0px 20px 20px 35px;
   font-size: 33pt;
   color:#CC9F34;
   text-decoration: none;
   /* justify-self: left; */

}
.dws-menu>ul>li{
   position: relative;
}
.dws-menu li a:hover{
   color:#CC8129 ;
}
.dws-menu li ul{
   /* position: absolute; */
   min-width: 33pt;
   display: none ;
   text-decoration:none;
   /* justify-content: left; */
}


.dws-menu li ul li a{
   padding: 0px;
   text-transform:none;
   text-decoration:none;
   color:#CC9F34 ;
  /* justify-content: left; */
   
}
.dws-menu li ul li a:hover{color:#CC8129;
/* justify-self: left; */



}


.dws-menu li:hover>ul{
   display: block;

}



li {
   list-style-type: none; /* Убираем маркеры */
  }
  li>a{font-size:33pt;

  }
  .dws-menu{font-size:33pt;

   }
  .dws-menu li>ul li>ul{
      position:absolute;
      right: -150px;
      top:0;
  }

  ul>li >ul {
   margin-left: 20px;
    /* Отступ слева в браузере IE и Opera */
   padding-left: 5px;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
  ul>li>img{height:159px; 
   justify-content: center;

  }

















 




  .topnames{
     font-size: 33pt;
     justify-content: left;
     padding: 0%;
  }
  .topnames.o{padding-top: 0%;

  }


body{ width:1920px;
   height:2160px;}

.logo{
width:20%;
   max-height:159px;

   
}
.logo2{max-height:159px;
 

}
.imagestop{
   color: #cc9f00;;
   font-family: "Calibri";
  font-size:  33pt;
  font-weight: bold;
  width:50%;
  justify-content: center;
  padding-right: 145px;
 
}
td{ 
width: 13%; 
text-align:center;
Font-family:"Calibri";
font: 33px;;
font-weight : Bold;
color:"CC9F34";
};

img{
   width:183px;
   height:159px;
}


td>img{width:191px;
   height: 186px;

}

.backgroundimage{ 
     
   max-width:1920px;
   background-image: url('D:/vs code/hometask1/.vscode/g3/image/center_picture.jpg') ;
  
    background-repeat: no-repeat;
    
    background-size: cover;  
}

.last{
 
   width: 1920px;
 
  
   background-color:#f3e9bc;
  }
   
    .insta{
       font-family:"Calibri" ;
       font-weight:lighter;
       color:#000000;
       font-size:25pt;
       text-align: left;
       width: 640px;
       justify-content: center;
       padding-left:130px;


    }
    .coc{font-family:"Calibri" ;
      font-weight:lighter;
      color:#000000;
      font-size:25pt;
      text-align: left;
      width: 640px;
      margin-top: 0px;
      padding-top: 0px;
      padding-left:200px;

    }
    .endtable.tr.logo{
       padding-left: 15px;
    }
    h2{
       text-align:center;
       font-family: "Calibri";
       font-size: 39pt;
       
       
    }
p{
   color: #CC9F34;
   font-weight:lighter;
   font-size: 101pt;;
   Font-family:"Calibri";
   padding: 0;
   margin: 0;
   padding-left: 5%;
}
.instagram{
   width:30px;
   height: 30px;
}
.contact{
   font-family: "Calibri";
   font-size:29pt ;
   font-weight: bold;
   color:#000000;
}
.telephone{
   color:black;
   font-weight: bold;
   
}
a:link {
   text-decoration: none;
}
.number{
   font-size:30pt;
   color:#CC9F34;
   font-weight: bold;
}
.size{
   width:fit-content;
   width:320px;
   font-size:21pt;
   font-weight: bold;
   

}
.table{
   width: 1920px;
   padding: 4%;
}
.topnames{
   text-align:leftr;
  
}
.endtable.td{
   width: 30%;
   display: flex;

}